.container {
  /* display: grid;
  width: 100%;
  height: 100%;
  background: #0e0e0e; */
  background: #0e0e0e;
}
.modal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  color: rgb(211, 0, 0);
}
p {
  color: white;
  text-align: center;
  width: 224px;
}

.container .topbox {
  display: flex;
  gap: 10px;
}
.container .toplist {
  /* display: flex;
  gap: 10px; */
}
.container img {
  width: 224px;
  height: 332px;
}
.card {
  height: 460px;

  /* width: 224px;
  height: 332px; */
  /* margin-top: 20px; */

  border-radius: 10px;
}
.card :hover {
  border: 3px solid rgb(211, 0, 0);
  border-radius: 10px;
}

.swiper {
  width: 100%;
  height: 480px;
  /* display: grid; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(54, 54, 54);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Center slide text vertically */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.swiper-slide img {
  display: block;
}
.swiper-slide img:hover {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(221, 210, 210, 1)),
    to(rgba(216, 216, 216, 0))
  );
}
.swiper-button-prev {
  color: rgb(211, 0, 0);
}
.swiper-button-next {
  color: rgb(211, 0, 0);
}
